version: '3.7'

services:
  wordpress:
    image: wordpress:latest
    container_name: wordpress
    restart: always
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_USER: '{{ lookup('env', 'WORDPRESS_DB_USER') }}'
      WORDPRESS_DB_PASSWORD: '{{ lookup('env', 'WORDPRESS_DB_PASSWORD') }}'
      WORDPRESS_DB_NAME: '{{ lookup('env', 'WORDPRESS_DB_NAME') }}'
    volumes:
      - /data/wordpress:/var/www/html

  db:
    image: mariadb:latest
    container_name: mariadb
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: '{{ lookup('env', 'MYSQL_ROOT_PASSWORD') }}'
      MYSQL_DATABASE: '{{ lookup('env', 'MYSQL_DATABASE') }}'
      MYSQL_USER: '{{ lookup('env', 'MYSQL_USER') }}'
      MYSQL_PASSWORD: '{{ lookup('env', 'MYSQL_PASSWORD') }}'
    volumes:
      - /data/db:/var/lib/mysql

  reverse-proxy:
    image: nginx:latest
    container_name: reverse-proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /data/deployment/nginx.conf:/etc/nginx/nginx.conf
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - /data/deployment/nginx-vhost:/etc/nginx/vhost.d
    depends_on:
      - wordpress